body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
}

.todoMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
}
.todoMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.todoMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

.todoMain .theList{
    list-style: none;
    padding-left: 0;
    width: 255px;
}

.todoMain .theList li .poster{
    text-align: right;
    background-color: rgba(255,255,255, 0);
    color: #333;
    padding: 0px;
    font-size: 10px;
    
}

.todoMain .theList li{
    color: #333;
    background-color: rgba(255,255,255, 1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


h1{
    text-align: center;
}

.inner-col{
    background-color: #E0E0E0;
    padding:10px;
    border-radius: 5px;
}

.row{
    text-align: center;
    border-radius: 5px;
}